/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  @apply m-auto mt-6 w-full lg:w-[800px] bg-[#fff] border-solid border-2 shadow-md  text-[#000080] rounded-2xl px-11 py-14;
}

h1 {
  @apply text-4xl text-center;
}

.input-box {
  @apply relative w-[100%] h-[50px]  mt-16 mb-0;
}

/* @layer components {
  .loginContainer {
    @apply flex flex-col mx-auto justify-center items-center w-full lg:w-[800px] bg-slate-500 text-[#fff];
  }
  h1 {
    @apply flex flex-col items-start;
  }
}*/
